[package]
name = "foobar-common"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
sqlx = { version = "0.8.6", default-features = false, features = ["migrate", "macros"] }
